h1{
	text-align: center;
	background-color: skyblue;
	color:grey;
	padding: 20px 0px 20px 0px;
	margin:auto;
}
section {
	font-size: 20px;
	color:blue;
	background-color: violet;
	text-align: justify;
	}
article{
	font-size: 20px;
	text-align: justify;
	color:rgb(1, 7, 1);
	background-color:rgb(104, 241, 120);
}
article li {
	margin-right:20px;
}
img{
	width: 100%;
	height: 620px;
}